<div class="filter">
    <div class="form">
        <div class="form-input-name">
            <mat-form-field appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput placeholder="Ex: Rogerio" value="" [(ngModel)]="filterOptions.name">
            </mat-form-field>
        </div>
        <div class="form-input-date">
            <mat-form-field appearance="outline">
                <mat-label>Selecione uma data</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate placeholder="Data Inicial" [(ngModel)]="filterOptions.startDate">
                    <input matEndDate placeholder="Data Final" [(ngModel)]="filterOptions.endDate">
                </mat-date-range-input>
                <mat-datepicker-toggle matIconSuffix [for]=" picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
        </div>
        <div class="form-input-select">
            <mat-form-field appearance="outline">
                <mat-label>Status</mat-label>
                <mat-select [(ngModel)]="filterOptions.status">
                    <mat-option *ngFor="let status of statusOptions" [value]="status.value">
                        {{status.description}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-submit-btn">
            <button mat-raised-button color="primary" (click)="onFilter()">Buscar</button>
        </div>
    </div>
</div>