.card-avatar-small {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card-avatar-medium {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.card-avatar-large {
    border-radius: 50%;
    width: 200px;
    height: 200px;
}