.card-text-title {
    font-weight: 500;
    font-size: 24px;
    display: block;
}

.card-text-subtitle {
    font-weight: 200;
    font-size: 16px;
    display: block;
}

.card-text-description {
    font-weight: 300;
    font-size: 20px;
    display: block;
}