<!-- <app-no-directive></app-no-directive> -->
<!-- <app-directive></app-directive> -->

<!-- <button disabled>propriedade disabled</button>
<button [attr.disabled]="false">attr binding disabled</button>
<button [disabled]="false">prop binding disabled</button>
<button dirDisabled>directive disabled</button> -->

<!-- <p dirStyle>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut omnis deleniti corrupti culpa </p> -->

<!-- <p class="texto"> Normal Class </p>
<p [attr.class]="'texto'"> Atribute Binding Class </p>
<p [className]="'texto'"> Prop Binding Class </p>
<p [class]="['texto', 'texto2']"> Prop Binding Class </p>
<p dirClass> Directive Binding Class </p> -->

<input appListener [txtColor]="'white'" [bgColor]="'blue'">