<div class="container">
    <div class="item">
        <app-card>
            <card-header>
                <h1>Guilherme Papa</h1>
                <img src="assets/icons/user.png" class="card-image" title="user picture" alt="user picture">
                <h2>Desenvolvedor Front-End</h2>
            </card-header>
            <card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere dolore suscipit
                    necessitatibus commodi corporis, vero modi vel, dicta debitis molestias eum culpa illum expedita nam
                    sit consequatur ducimus quis.</p>
            </card-content>
        </app-card>
    </div>
    <!--  -->
    <div class="item">
        <app-card>
            <card-header>
                <h1>Guilherme Papa</h1>
                <img src="assets/icons/user.png" class="card-image" title="user picture" alt="user picture">
                <h2>Desenvolvedor Front-End</h2>
            </card-header>
            <card-content>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident facere dolore suscipit
                    necessitatibus commodi corporis, vero modi vel, dicta debitis molestias eum culpa illum expedita nam
                    sit consequatur ducimus quis.</p>
            </card-content>
        </app-card>
    </div>
</div>