.btn {
  width: 100%;
  border: none;
  border-radius: 24px;
  margin: 8px 0;
  padding: 8px 16px;
  cursor: pointer;
  position: relative;

  &--white {
    background-color: white;
    color: #222;
  }

  &--purple {
    background-color: #a056a0;
    color: #222;
  }
}
