/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.texto {
  cursor: pointer;
  box-sizing: content-box;
  padding: 8px;
  font-size: 24px;
  color: white;
  background-color: orange;
}
.texto2 {
  cursor: pointer;
  box-sizing: content-box;
  padding: 8px;
  font-size: 24px;
  color: orange;
  background-color: #222;
}
